.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)), url(../images/hero.jpg);

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }
  
  background-size: cover;
  background-position: top;
  position: relative;
  
  &__text-box {
    @include center-block-horizontal-vertical;
    text-align: center;
  }
}
